@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import 'libs/extends';
@import 'font-awesome.min.css';
@import 'lightslider.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300');

/*
	Archetype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)',
		xxsmall: '(max-width: 360px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: 2em )
	));

	@mixin color($p: null) {
		@include color-typography($p);
		@include color-box($p);
		@include color-button($p);
		@include color-form($p);
		@include color-list($p);
		@include color-section($p);
		@include color-table($p);
	}

	@mixin banner-bg($image, $overlay: false) {
		$background-image: (
			'url("images/overlay.png")',
			'linear-gradient(45deg, #{transparentize(_palette(gradient1), 0.35)}, #{transparentize(_palette(gradient2), 0.35)})',
			'url("#{$image}")'
		);

		$background-size: (
			auto,
			cover,
			cover
		);

		$background-attachment: (
			fixed,
			fixed,
			fixed
		);

		$background-repeat: (
			repeat,
			no-repeat,
			no-repeat
		);

		@if $overlay {
			$background-image: join(('linear-gradient(top, #{_palette(accent4, bg)}, #{_palette(accent4, bg)})'), $background-image);
			$background-size: join((auto), $background-size);
			$background-attachment: join((fixed), $background-attachment);
			$background-repeat: join((repeat), $background-repeat);
		}

		@include vendor('background-image', $background-image);
		background-position: center center;
		background-size: $background-size;
		background-attachment: $background-attachment;
		background-repeat: $background-repeat;
	}

// Base.

	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/box';
	@import 'components/button';
	@import 'components/form';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/posts';
	@import 'components/section';
	@import 'components/table';
	@import 'components/wrapper';
	@import 'components/article';

// Layout.

	@import 'layout/header';
	@import 'layout/banner';
	@import 'layout/footer';
	@import 'layout/navPanel';
