.article {
  &__header {
    h1, h2 {
      margin-bottom: .25em;
    }

    h2 {
      color: _palette(fg-light);
    }

    .article__meta {
      margin-top: 2em;
    }
  }

  & a {
    // text-decoration: none;
  }
  h2, .image {
    margin-bottom: .5em;
  }

  .image.main {
    margin-bottom: 1em;
  }

  &__meta {
    margin-bottom: 2em;
  }

  &__data {
    text-align: right;
  }

  &__entradeta {
		font-size: 110%;
		font-weight: _font(weight-bold);
	}

  &__contingut {
    img {
      max-width: 100%;
      height: auto;
      margin: 0 0 _size(element-margin) 0;
    }
  }

  &__categoria {
    text-transform: uppercase;
    font-weight: bold;
    color: _palette(accent1, bg);

    a {
      text-decoration: none;
    }
  }
}

.incrustat {
  height:0;
  margin-bottom: 20px;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
}

.incrustat iframe,
.incrustat object,
.incrustat embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* Ratios */
.inc4-3 {
  padding-bottom: 75%;
}
.inc16-9 {
  padding-bottom: 56.25%;
}
.inc256-81 {
  padding-bottom: 31.64062%;
}
.inc362x204 {
  padding-top: 0;
  padding-bottom: 56.25%;
}
