@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Archetype by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Posts */

	.posts {
		@include vendor('display', 'flex');
		@include vendor('flex-wrap', 'wrap');
		@include vendor('flex-direction', 'column');
		margin: 0 0 _size(element-margin) 0;

		.post {
			@include vendor('flex', '1');
			margin-bottom: 1.5em;
			border-left: 2px solid _palette(fg-bold);

			a {
				padding: 1em;
				text-decoration: none;

				@include vendor('flex', '1');
				@include vendor('display', 'flex');
				@include vendor('flex-direction', 'row');

				&:hover {
					background-color: lighten(_palette(fg-light), 35);
				}

				* {
					flex: 1;
				}

				.image img {
					display: block;
					max-width: 100%;
					height: auto;
				}

				.content {
					flex-grow: 2;
					@include breakpoint(large) {
						flex-grow: 3;
					}
					margin-left: 1em;
					color: _palette(fg);

					h3 {
						font-size: 1.2em;
					}

					time {
						display: block;
						margin-bottom: 1em;
					}

					> :last-child {
						margin-bottom: 0;
					}
				}

				@include breakpoint(xsmall) {
					@include vendor('flex-direction', 'column');

					.content {
						margin-top: 1em;
						margin-left: 0
					}
				}
		}
	}

		// > * {
		// 	margin: 0 0 (_size(element-margin) * 2) 0;
		// 	padding: 0 (_size(element-margin) * 0.75);
		// 	width: 50%;
		// }
		//
		// > :nth-child(2n) {
		// 	padding-right: 0;
		// }
		//
		// > :nth-child(2n + 1) {
		// 	padding-left: 0;
		// }
		//
		// > :nth-last-child(1), > :nth-last-child(2) {
		// 	margin-bottom: 0;
		// }

		@include breakpoint(medium) {
			// .post {
			// 	.image {
			// 		width: 30%;
			// 	}
			//
			// 	.content {
			// 		width: 70%;
			// 	}
			// }
			//
			// > * {
			// 	margin: 0 0 (_size(element-margin) * 1.5) 0 !important;
			// 	padding: 0;
			// 	width: 100%;
			// }
			//
			// > :last-child {
			// 	margin-bottom: 0 !important;
			// }
		}

		@include breakpoint(small) {
			// .post {
			// 	.image {
			// 		width: 30%;
			// 		min-width: 6em;
			// 	}
			//
			// 	.content {
			// 		width: 70%;
			// 	}
			// }
		}

		@include breakpoint(xsmall) {
		// 	.post {
		// 		.image {
		// 			margin-right: (_size(element-margin) * 0.75);
		// 		}
		// 	}
		}
	}
